.title{
    font-size: 5em;
    text-align: center;
    color:#fff;
    background-color: black;
    /* background-color: #881C1B;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
}
.gauge{
    color: #c72e2c;
}
.filters{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.worcester-container{
    color: black;
    background-color: white;
    
}
.dining-container {

}

.dish-container {
    background-color: white;
    display: inline-flex;
    padding-bottom: 10px;

}

.dish-info {
    padding-left: 10px;
}

.dish-description {
    margin-bottom: 0px;
}

.dish-score {
    text-align: center;
}

.dish-comments {
    display: flex;
    justify-content: end;
    padding-left: 30px;
    line-height: 0.7;
}

#chat-icon {
    padding: 0px;
}

.comment-number {
    padding-left: 3px;
}

.loginForm{
    padding: 1%;
    display: none;
    z-index: 10;
    position: absolute;
    bottom: -55%;
    border: 3px solid black;
    border-radius: 10%;
    background-color: #8f2424;
    color: #b6c5d1;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right:30%; 
}
.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
  }
  .form-content{
    /* without this transform if form is clicked it closes not sure why it works this way */
    transform: translate(0,0);
  }

  .form-group{
    text-align: left;
  }

  .center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .comment{
    padding: 10px;
    background-color: white;
    display: inline-flex;
    
  }
  .comment-score{
    text-align: center;
  }
  