.title{
    font-size: 5em;
    text-align: center;
    color:#fff;
    background-color: black;
    /* background-color: #881C1B;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
}
.gauge{
    color: #c72e2c;
}
.filters{
    background-color: white;
    display: flex;
    justify-content: center;
}

.worcester-container{
    color: black;
    background-color: white;
    
}
.dining-container {

}

.dish-container {
    background-color: white;
    display: inline-flex;

}

.dish-info {
    padding-left: 10px;
}

.dish-score {
    text-align: center;
}